
body{
    background-image: url(Képek/elmosott.png);
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-repeat: no-repeat;

    padding-bottom: 50px;

}

footer{
    background-color: rgb(169,169,169);
    margin-right: 30px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 78px);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 0.5px rgb(105,105,105) solid;
    z-index: 2;
}
footer>p{
    text-align: center;
    color: white;
    margin: 8px;
    
}
#év{
    float: left;
}
#osztály{
    float: right;
}


.navbar a {
    float: right;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(169,169,169);
}
#dropdown {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown1 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown2 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
.dropbtn {
    font-size: 18px;
    font-weight: bolder;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 135px;
    text-align: center;
    border: 0.5px rgb(105,105,105) solid;
}
.dropbtn:hover {
    background-color: rgb(126, 183, 236);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 135px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 135px;
    color: white;
    border: 0.5px rgb(105,105,105) solid;
}
.dropdown-content a:hover {
    background-color: rgb(126, 183, 236);
}
  
#dropdown:hover .dropdown-content {
    display: block;
}
#dropdown1:hover .dropdown-content {
    display: block;
}

#dropdown2:hover .dropdown-content {
    display: block;
}
#dropdowns{
    display: none;
}

div.nulladik_div{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(233, 227, 227);
    text-align: center;
    font-size: 175%;
    font-family: Helvetica;
    margin-left: 35% ;
    margin-right: 35%;
    margin-bottom: 5px;
    margin-top: 5%;
    
    
}

div.elso_div {
    position:absolute;
    right: 20px;
    height: 90px;
    width: 60%;
    
}

div.masodik_div {
    padding-left: 70px;
    padding-top: 10px;
    padding-left: 50px;
    height: 90px;
    width: 32%;
}

div.harmadik_div {
    position:absolute;
    right: 20px;
    height: auto;
    width: 60%;
    padding-top: 5px;
    font-size: 99%;
}

p.solid{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(233, 227, 227);
    text-align: center;
    font-size: 140%;
    font-family: Helvetica;
    letter-spacing: 1px;
    padding:0.2%;
}
.nyomtato_kep{
    border: 2px solid rgb(105,105,105);
    width: 100%;
    border-radius: 10%;
    box-shadow: black 5px 5px 5px;
}
.lap_kep{
    width: 30%;
    margin: -1;
    padding-top: 30px;
    position: absolute;
    padding-left: 20px;    
}

div{
    padding-bottom: 20px;
}

div.negyedik_div{
    position: absolute;
    height: 80px;
    width: 50;
    padding-top: 240px;
    padding-right: 10px;
    margin:0 auto;
    
}

div.otodik_div{
    
    position:absolute;
    right: 20px;
    height: 100px;
    width: 30%;
    padding-top: 390px;
    margin-bottom: 20%;
    
    
}
div.hatodik_div{
    position: absolute;
    height: 80px;
    width: 60%;
    padding-top: 400px;
    
    padding-left: 90px;
    margin-bottom: 20%;
}
div.hetedik_div{
    position: absolute;
    height: 80px;
    width: 60%;
    padding-top: 400px;
    
    padding-left: 300px;
    margin-top: 10%;
}
 
.Források_link{
    padding-left: 50px;
    text-align:right;
    
}
.Források2_link{
    text-align:right;
    font-size: x-large;
    color: black;
    font-style: Helvetica;

}


