body{ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-color: purple;
}


footer{
    margin-right: 30px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 78px);
}
footer>p{
    text-align: center;
    color: white;
    margin: 8px;
}
#év{
    float: left;
}
#osztály{
    float: right;
}


.topnav {
    background-color: #333;
    position: relative;
    height: 48px;
    border: 0.5px solid red
}

#myLinks {
    display: none;
    float: right;
}
.topnav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.active {
    background-color: #04AA6D;
    color: white;
}
.topnav .icon{
    padding: 14px 16px;
    float: right;
}
#myLinks .icon{
    padding: 0px 0px;
    float: right;
}


#Menu1,#Menu2,#Menu3{
    display: none;
    height: 250px;
    background-color: #333;
    width: 184px;
    margin-top: 1px;
    text-align: center;
    float:right;
}
#menuk{
    margin-right: 48.58px;
}

.button{
    padding: 14px 16px;
    width: 150px;
    text-align: center;
}