body{ 
   
    background-attachment: fixed;
    background-image: url(Képek/elmosott.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.elmosott{
    position: absolute;
    width: 100%;
    z-index: -1;
}
footer{
    background-color: rgb(169,169,169);
    margin-right: 30px;
    margin-left: 30px;
    position: relative;
    bottom: 0;
    width: calc(100% - 78px);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 0.5px rgb(105,105,105) solid;
}
footer>p{
    text-align: center;
    color: white;
    margin: 8px;
}
#év{
    float: left;
}
#osztály{
    float: right;
}
.navbar{
    margin-top: 25px;
    margin-right: 10px;
}
.navbar a {
    float: right;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(169,169,169);
}
#dropdown {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown1 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown2 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}

.dropbtn {
    font-size: 18px;
    font-weight: bolder;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 135px;
    text-align: center;
    border: 0.5px rgb(105,105,105) solid;
}
.dropbtn:hover {
    background-color: rgb(126, 183, 236);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 135px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 135px;
    color: white;
    border: 0.5px rgb(105,105,105) solid;
}
.dropdown-content a:hover {
    background-color: rgb(126, 183, 236);
}
  
#dropdown:hover .dropdown-content {
    display: block;
}
#dropdown1:hover .dropdown-content {
    display: block;
}

#dropdown2:hover .dropdown-content {
    display: block;
}
#dropdowns{
    display: none;
}


.container{
    padding-right: 5%;
    padding-left: 5%;
    
}

.leiras{
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 5%;
    padding-top: 3%;
   
}

.szoveg img{
        float: right;
        padding-right: 5%;
}

.szoveg p{
    font-size: larger;
    margin-right: 40%;
}

#fe{
    border-right: solid;

}

#menu{
    padding-left: 3%;
}

.Tablazat{
    border: solid; 
}








