body{ 
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    background-image: url(Képek/elmosott.png);
}
footer{
    background-color: rgb(169,169,169);
    margin-right: 30px;
    margin-left: 30px;
    position: fixed;
    bottom: 0;
    width: calc(100% - 78px);
    border-radius: 10px;
    font-size: 18px;
    font-weight: bolder;
    border: 0.5px rgb(105,105,105) solid;
}
footer>p{
    text-align: center;
    color: white;
    margin: 8px;
}
#év{
    float: left;
}
#osztály{
    float: right;
}

.navbar a {
    float: right;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight: bolder;
    text-decoration: none;
    background-color: rgb(169,169,169);
}
#dropdown {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown1 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
#dropdown2 {
    float: right;
    overflow: hidden;
    display: block;
    background-color: rgb(169,169,169);
}
.dropbtn {
    font-size: 18px;
    font-weight: bolder;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 135px;
    text-align: center;
    border: 0.5px rgb(105,105,105) solid;
}
.dropbtn:hover {
    background-color: rgb(126, 183, 236);
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 135px;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    width: 135px;
    color: white;
    border: 0.5px rgb(105,105,105) solid;
}
.dropdown-content a:hover {
    background-color: rgb(126, 183, 236);
}
  
#dropdown:hover .dropdown-content {
    display: block;
}
#dropdown1:hover .dropdown-content {
    display: block;
}

#dropdown2:hover .dropdown-content {
    display: block;
}
#dropdowns{
    display: none;
}
.Eszkozkep{
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 50% 50%;
    padding-top: 50px;
    padding-right: 5px;
    float: right;
}
.Szoveg{
    color:black;
    margin: 6px;
    font-size: larger;
    background-color: darkgray;
}